.Survey-form-page {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .Survey-form-page-question-container {
        height: 200px;
        margin-top: 190px;
        color: #fff7f0;
        font-size: 23px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .Survey-form-page-question {
            width: 430px;
            text-align: center;
        }

        .Survey-form-page-question-scale {
            width: 20%;
        }
    }

    .Survey-form-page-bottom-container {
        display: flex;
        justify-content: space-between;
        margin: 100px 100px 0px 100px;

        .Survey-form-page-input-container {
            width: 100px;
            height: 100px;
            background-color: red;
        }
        .Survey-form-page-progress-container {
            width: 100px;
            height: 100px;
            background-color: red;
        }
    }
}
