.PassportCardFilter-filter-container {
    align-items: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 24px;
}

.PassportCardFilter-filter-item {
    font-size: 20px;
    padding: 8px;
}

.PassportCardFilter-filter-filterable-item:hover {
    background-color: #666;
    cursor: pointer;
}

.PassportCardFilter-card-container {
    $side-padding-size: 48px;

    background-color: #faf2e9;
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    left: 0;
    margin-top: 58px;
    padding: 0 $side-padding-size 96px;
    position: absolute;
    row-gap: 48px;
    width: calc(100% - 2 * #{$side-padding-size});
}
