.Survey-nav-menu {
    $border-color: #fff7f0;

    @mixin nav-menu-item {
        width: 64px;
        height: 64px;
        border: 3px solid $border-color;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Survey-nav-menu-question {
        @include nav-menu-item;
        margin-top: 0px;
        background-color: $border-color;
        font-size: 28px;
        color: #080808;
    }
    .Survey-nav-menu-theme {
        margin-top: 32px;
        @include nav-menu-item;
    }

    @mixin nav-button-hover-show-text {
    }

    .Survey-nav-menu-back-container {
        margin-top: 32px;
        display: flex;
        align-items: center;

        .Survey-arrow {
            transform: scale(1.5);
            transition: 300ms;
        }

        .Survey-nav-menu-back {
            @include nav-menu-item;

            &:hover {
                background-color: $border-color;

                .Survey-arrow {
                    stroke: #080808;
                    transform: scale(1.5) translateX(-5px);
                    transition: 300ms;
                }
            }

            &:hover ~ .Survey-nav-menu-back-text {
                opacity: 1;
                transition: 300ms ease-in;
            }
        }

        .Survey-nav-menu-back-text {
            opacity: 0;
            font-size: 18px;
            margin-left: 20px;
        }
    }

    .Survey-nav-menu-forward-container {
        display: flex;
        align-items: center;
        margin-top: 32px;

        .Survey-nav-menu-forward {
            @include nav-menu-item;
            &:hover {
                background-color: $border-color;

                .Survey-arrow {
                    stroke: #080808;
                    transform: scale(-1.5) translateX(-5px);
                    transition: 300ms;
                }
            }

            &:hover ~ .Survey-nav-menu-forward-text {
                opacity: 1;
                transition: 300ms ease-in;
            }

            .Survey-arrow {
                transform: scale(-1.5);
                transition: 300ms;
            }
        }

        .Survey-nav-menu-forward-text {
            opacity: 0;
            font-size: 18px;
            margin-left: 20px;
        }
    }
}
