$left-section-width: 290px;
$right-section-left-padding: 26px;
$right-section-right-padding: 26px;
$right-section-top-padding: 26px;

.Boarding-pass {
    background-color: #05466e;
    color: #fff7f0;
    display: flex;
    width: 1335px;
}

.Boarding-pass-left-side {
    margin: 42px 35px;
    position: relative;
    width: 908px;
}

.Boarding-pass-left-side-top-horizontal-divider {
    border-bottom: 6px solid #fff7f0;
    content: '';
    position: absolute;
    width: 100%;
}

.Boarding-pass-left-side-middle-vertical-divider {
    border-right: 1px solid #fff7f0;
    height: 100%;
    left: $left-section-width;
    position: absolute;
}

.Boarding-pass-left-side-top-section {
    border-bottom: 1px solid #fff7f0;
    display: flex;
    padding-top: 42px;
    padding-bottom: 24px;
}

.Boarding-pass-left-side-top-section-left-side {
    min-width: $left-section-width;
}

.Boarding-pass-left-side-main-question {
    font-size: 24px;
    padding-left: $right-section-left-padding;
    padding-right: $right-section-right-padding;
}

.Boarding-pass-left-side-from-title {
}
.Boarding-pass-left-side-from-place {
}
.Boarding-pass-left-side-to-title {
}
.Boarding-pass-left-side-to-place {
}

.Boarding-pass-left-side-main-answer {
}

.Boarding-pass-left-side-question-two {
}

.Boarding-pass-left-side-answer-two {
}

.Boarding-pass-left-side-date {
}

.Boarding-pass-left-side-boarding-pass-text {
}

.Boarding-pass-left-side-question-number {
}
