.Survey-question-slider {
    position: relative;
    stroke: #fff7f0;
    stroke-width: 2;
}

.Survey-question-slider-tick {
    border: 1px solid #fff7f0;
}

.Survey-question-slider-numbers {
    font-size: 18px;
}
