.Survey-text-input-icon-one-cls-1,
.Survey-text-input-icon-one-cls-2,
.Survey-text-input-icon-one-cls-3,
.Survey-text-input-icon-one-cls-4 {
    fill: none;
}
.Survey-text-input-icon-one-cls-2,
.Survey-text-input-icon-one-cls-3,
.Survey-text-input-icon-one-cls-4 {
    stroke: #fff7f0;
}
.Survey-text-input-icon-one-cls-2 {
    stroke-width: 1.5px;
}
.Survey-text-input-icon-one-cls-4 {
    stroke-width: 0.5px;
}
