$bg-color: #faf2e9;
$bg-color-top: #fffcf5;

@mixin card-hover-animation($shadow-color) {
    $timing: 300ms;

    transition: box-shadow $timing;

    & > * {
        transition: transform $timing;
    }

    &:hover {
        box-shadow: 10px 10px $shadow-color;

        & > * {
            transform: translate(5px);
        }
    }
}

.Dream-page {
}

.Dream-page-title-container {
    position: relative;
    height: 1200px;
    background-color: $bg-color-top;
}

.Dream-page-boarding-gates-container {
    position: relative;
    background-color: $bg-color;

    .Dream-page-boarding-gates-title {
        position: absolute;
        left: 100px;
        top: -122px;
        font-size: 148px;
    }

    .Dream-page-boarding-gates-view-gates-btn-container {
        display: flex;
        justify-content: flex-end;

        $timing: 200ms;

        .Dream-page-boarding-gates-view-gates-btn {
            position: relative;
            display: flex;
            align-items: center;
            margin: 20px;
            margin-right: 100px;

            &:hover {
                .Dream-page-boarding-gates-view-gates-btn-text {
                    &::before {
                        transform: scaleX(1);
                    }
                }

                .Dream-page-boarding-gates-view-gates-btn-arrow {
                    transform: translateX(10px);
                }
            }

            .Dream-page-boarding-gates-view-gates-btn-text {
                position: relative;
                display: inline-block;
                font-size: 23px;
                font-weight: bold;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0);
                    margin: 5px 0 0;
                    transition: transform $timing;
                    background-color: black;
                    transform-origin: bottom left;
                }
            }

            .Dream-page-boarding-gates-view-gates-btn-arrow {
                margin-left: 50px;

                transition: transform $timing;
            }
        }
    }
}

.Dream-page-title {
    position: absolute;
    font-size: 148px;
    letter-spacing: 3.26px;
    height: 40%;
    top: 470px;

    .Dream-page-title-1 {
        position: relative;
        left: 100px;
    }
    .Dream-page-title-2 {
        position: relative;
        top: -60px;
        left: 600px;
    }
}

.Dream-page-departures {
    $color: #6a6499;
    display: flex;
    align-items: center;
    position: absolute;
    left: 100px;
    top: 680px;
    border: $color 3px solid;
    color: $color;
    padding: 10px;

    @include card-hover-animation($color);

    .Dream-page-departures-text {
        font-size: 45px;
        font-weight: bold;
    }

    .Dream-page-departures-arrow {
        margin-left: 90px;
    }
}

.Dream-page-book-flight {
    $color: #f97935;
    position: absolute;
    width: 305px;
    left: 1245px;
    top: 175px;
    border: $color 3px solid;
    color: $color;
    padding: 20px;

    @include card-hover-animation($color);

    .Dream-page-book-flight-icon {
    }
    .Dream-page-book-flight-title {
        margin-top: 170px;
        font-size: 45px;
        font-weight: bold;
    }
    .Dream-page-book-flight-description {
        margin-top: 10px;
        font-size: 20px;
    }
}

.Dream-page-text-section-1 {
    position: absolute;
    width: 555px;
    left: 370px;
    top: 100px;

    .Dream-page-text-section-1-title {
        position: relative;
        font-size: 60px;
    }

    .Dream-page-text-section-1-description {
        position: relative;
        margin-top: 10px;
    }
}

.Dream-page-text-section-2 {
    position: absolute;
    width: 545px;
    top: 950px;
    left: 600px;
}

.Dream-page-font-medium {
    font-size: 18px;
}
