body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: vcr-osd-mono;
    src: url(./fonts/vcr-osd-mono.ttf) format('truetype');
}

@font-face {
    font-family: 'Saol Display';
    src: url(./fonts/saol-display/SaolDisplay-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Saol Display';
    src: url(./fonts/saol-display/SaolDisplay-Medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Saol Display';
    src: url(./fonts/saol-display/SaolDisplay-MediumItalic.otf) format('opentype');
    font-style: italic;
}

.font-aktiv-grotesk {
    font-family: 'aktiv-grotesk-std', sans-serif;
}

.font-vcr-osd-mono {
    font-family: 'vcr-osd-mono', sans-serif;
}

.font-saol-display {
    font-family: 'Saol Display', 'sans-serif';
}
