.Survey-question-bubble-cls-1 {
    fill: #fff7f0;
    stroke: #fff7f0;
}
.Survey-question-bubble-text {
    // background-color: red;
    position: absolute;
    top: 26%;
    left: 55%;
    font-size: 26px;
    color: #080808;
}
